/* Global Styles */

:root {
  --green: #27ae60;
  --white: #f5f5f5;
  --blue: #2980b9;

  --color-bg1: rgb(65, 124, 157);
  --color-bg2: rgb(2, 46, 221);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin: 20px 0;
}

hr {
  border: 0;
  height: 2px;
  background: #2c3e50;
  margin: 20px 0;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Flex Container for Input and Select */
.country-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
  border-color: var(--blue);
  outline: none;
}

.legend {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Button Styles */
.btn {
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #1c5986;
}

/* Flag Container Styles */
.float-flag-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  visibility: hidden;
}

img {
  width: 40px;
}

#result-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin: 0 auto;
}

#result-text {
  color: var(--green);
  font-size: 1.5em;
}

/* Additional Container Styles */
#insert-container {
  margin-top: 20px;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

#insert-container input {
  margin-top: 10px;
}

/* grid */

#grid-container {
  margin: 30px;

  visibility: hidden;
  opacity: 0;

  background: #ecf0f1;
  padding: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 45%;
  left: 80px;
}
#grid-container h1 {
  font-size: 15px;
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.grid-header {
  font-weight: bold;

  background-color: #f0f0f0;
  padding: 10px;
}

.grid-item {
  font-size: 12px;
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
}
.tradingview-widget-container {
  position: absolute;
  top: 20%;
  right: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69a6ce;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}

.nav h1 {
  margin: 0 auto 0;
  padding: 10px 20px;
  color: #d4e6f1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* #yellow-star {
  color: yellow;
} */

.bell {
  display: none;
  width: 50px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  box-sizing: content-box;
  cursor: pointer;
}
.bell-text {
  visibility: hidden;

  width: 120px;
  background-color: rgba(0, 0, 0, 0.232);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: relative;
  z-index: 1;
  bottom: 65px;
  right: 95px;
}

.bell:hover .bell-text {
  visibility: visible;
}

.little-text {
  margin: 0;
  position: relative;
  top: -15px;
  text-align: right;
  font-size: 6px;
  box-sizing: border-box;
}

.market-open {
  display: flex;
  width: fit-content;
  position: relative;
  top: -20px;
  right: -450px;
  text-align: center;
  align-items: center;
}
#saved-alerts-container {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 14%;
  left: 70px;
  z-index: 1;
}
#alerts-container {
  position: absolute;
  top: 10%;
  right: 150px;
  z-index: 1;
}
#alerts-container li,
#saved-alerts-container li,
#ai-message-container {
  border: 1px solid #5485a5a5;
  border-radius: 10px;
  background-color: white;
  padding: 5px 20px;
  margin: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#ai-message-container {
  position: absolute;
  top: -100%;
  right: 60px;
  z-index: 1;
  opacity: 0;
  width: 200px;
}
.market-hours-indicator {
  position: relative;
  width: 100px;
  height: 3px;
  background-color: var(--green);
  border-radius: 20px; /* Color of the line */
}

.hours-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green); /* Color of the active market hours segment */
  border-radius: 3px;
}

.current-time-marker {
  position: absolute;
  top: -5px;
  width: 2px;
  height: 10px;
  border-radius: 50px;
  border: solid 1px white;
  background-color: rgb(0, 0, 0);
}

.circle-with-text {
  position: fixed; /* Changed from relative to fixed */
  bottom: 40px; /* Distance from the bottom edge of the viewport */
  right: 80px; /* Distance from the right edge of the viewport */
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  border: 2px solid white;
  border-radius: 50%;
}

.circle {
  /* background-color: var(--blue);  */
  background-image: radial-gradient(
    rgb(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  animation: background 12s linear infinite;

  border-radius: 50%;
  width: 100%;
  height: 100%;

  opacity: 0.7;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 2.3px 2.3px #333;
}

.text:hover {
  font-size: 16px;
}

.footer {
  position: fixed; /* Fixed/sticky position */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  background-color: #f8f9fa; /* Light grey background */
  color: black; /* Text color */
  text-align: center; /* Center the text */
  padding: 5px 0; /* Padding around the text */
  font-size: 10px; /* Smaller text size */
  opacity: 0.5;
}
/* ----------------------------- */

.switch {
  margin: 15px 15px;
  border: 4px solid #96c1dd;
  border-radius: 30%;
  height: 40px;
  width: 38px;
}

div.switch input {
  background: url(./img/swap-vertical.svg) no-repeat;
  background-size: 150px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.glowing-circle {
  margin: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.076) solid;
  background-color: var(--green); /* Green color */
  position: relative;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 6px var(--green), 0 0 6px var(--green), 0 0 6px var(--green),
      0 0 40px var(--green);
  }
  100% {
    box-shadow: 0 0 20px var(--green), 0 0 30px var(--green),
      0 0 40px var(--green), 0 0 50px var(--green);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeout {
  animation-name: fadeout;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes background {
  0%,
  100% {
    background-color: rgb(50, 0, 200);
  }
  10%,
  90% {
    background-color: rgb(0, 100, 200);
  }
  20%,
  80% {
    background-color: rgb(0, 200, 100);
  }
  30%,
  70% {
    background-color: rgb(200, 200, 0);
  }
  40%,
  60% {
    background-color: rgb(200, 50, 0);
  }

  50% {
    background-color: rgb(200, 0, 0);
  }
}

/* Media Queries */

@media (max-width: 1530px) {
  #grid-container {
    position: relative;
  }
  .tradingview-widget-container {
    position: relative;
    margin: 0 auto;
  }

  li {
    display: block;
  }
  #saved-alerts-container {
    left: 2%;
  }
  #grid-container {
    left: 0;
  }
}
@media (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  .market-open {
    top: -25px;
    right: -365px;
  }
  li {
    display: block;
  }
  #saved-alerts-container {
    background-color: #f1edec;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 850px;
    left: auto;
  }
  #grid-container {
    left: 0;
  }
}
@media (max-width: 600px) {
  .container,
  .main,
  #insert-container {
    width: 95%;
  }

  .input-container {
    flex-direction: column;
  }

  #result-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  .market-open {
    top: -25px;
    left: 250px;
  }

  .bell,
  .bell-text {
    margin: 0 auto;
  }
  .bell-text {
    top: -40px;
  }
  li {
    display: block;
  }
  #saved-alerts-container {
    background-color: #f1edec;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 1150px;
    left: auto;
  }

  #grid-container {
    left: 0;
  }
}
@media (max-width: 430px) {
  .market-open {
    top: -25px;
    left: 170px;
  }

  .main {
    margin: 0;
    padding: 10px;
  }

  .container {
    max-width: 350px;
    margin: 0 8%;
    padding: 5px;
    width: 93%;
  }
  /* 
  .nav {
  } */
  body {
    width: 100%;
  }

  .tradingview-widget-container {
    width: 85%;
    height: 100%;
    border-radius: 8px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  li {
    display: block;
  }
  #saved-alerts-container {
    max-width: 350px;
    background-color: #f1edec;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 1025px;
    left: auto;
  }
  .form {
    padding: 2px;
    margin: 0;
  }
  .circle-with-text {
    visibility: visible;
    display: block;
    top: 5%;
    left: 5%;
  }
}
