body {
  text-align: center;
  padding: 5%;
}
#input-from,
#input-to,
#countries-from-select,
#countries-to-select {
  height: 18px;
}
.allText,
h1 {
  align-items: center;
}
.main {
  background-color: rgb(201, 235, 235);
}
.form {
  background-color: rgb(201, 243, 175);
  padding: 5%;
  height: 50vw;
}

.country-containerI {
  padding: 5%;
}
.float-left-flag-container {
  float: left;
}
.float-right-flag-container {
  float: right;
}
.float-center-item {
  /* float: center; */
  background-color: blueviolet;
}

.center-container {
  width: 210px;
  height: 75px;
  float: left;
  overflow: hidden;
  padding: 1%;
}
#center-item {
  width: 100px;
}

#btn {
}

#float-left-flag {
  display: none;
}
#float-right-flag {
  display: none;
}
@media (max-width: 600px) {
  .center-container {
    font-size: 10px;
  }
  #float-left-flag {
    width: 50px;
  }
  #float-right-flag {
    width: 50px;
  }
}
