body {
  padding: 5%;
}
#input-from,
#input-to,
#countries-from-select,
#countries-to-select {
  height: 18px;
}

#input-from,
#input-to,
#input-amount {
  width: 70px;
}
.allText,
h1 {
  text-align: center;
}
.main {
  background-color: rgb(203, 203, 203);
  margin: 0 20%;
}
.form {
  background-color: rgb(203, 203, 203);
  padding: 5%;
  height: 50vw;
  max-width: 500px;
}
.legend {
  display: block;
  width: 100%;
}

.country-containerI {
  display: flex;
}
.country-containerII {
}

.from-container {
  width: 50%;
  margin-bottom: 5%;
}
.amount-container {
  width: 50%;
}

.float-left-flag-container {
  /* float: left; */
}
.float-right-flag-container {
  /* float: right; */
}
.float-center-item {
  /* float: center; */
  background-color: blueviolet;
}

#center-item {
  width: 100px;
}

#btn {
}

#float-left-flag {
  visibility: hidden;
}
#float-right-flag {
  visibility: hidden;
}

#insert-container {
  text-align: center;
}
@media (max-width: 600px) {
  .center-container {
    font-size: 10px;
  }
  #float-left-flag {
    width: 50px;
  }
  #float-right-flag {
    width: 50px;
  }
}
