/* Global Styles */

:root {
  --green: #27ae60;
  --white: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin: 20px 0;
}

hr {
  border: 0;
  height: 2px;
  background: #2c3e50;
  margin: 20px 0;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Flex Container for Input and Select */
.country-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
  border-color: #2980b9;
  outline: none;
}

.legend {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Button Styles */
.btn {
  background-color: #2980b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #1c5986;
}

/* Flag Container Styles */
.float-flag-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  visibility: hidden;
}

img {
  width: 40px;
}

#result-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin: 0 auto;
}

#result-text {
  color: var(--green);
  font-size: 1.5em;
}

/* Additional Container Styles */
#insert-container {
  margin-top: 20px;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

#insert-container input {
  margin-top: 10px;
}

/* grid */

#grid-container {
  margin: 40px;

  visibility: hidden;
  opacity: 0;

  background: #ecf0f1;
  padding: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 15%;
  left: 5px;
}
.currency-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.grid-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
}

.grid-item {
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
}
.tradingview-widget-container {
  position: absolute;
  top: 20%;
  right: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69a6ce;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}

.nav h1 {
  margin: 0 auto 0;
  padding: 10px 20px;
  color: #d4e6f1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* #yellow-star {
  color: yellow;
} */

.market-open {
  display: flex;
  position: absolute;
  top: 90px;
  right: 190px;
  text-align: center;
  align-items: center;
}

.glowing-circle {
  margin: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.076) solid;
  background-color: var(--green); /* Green color */
  position: relative;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 6px var(--green), 0 0 6px var(--green), 0 0 6px var(--green),
      0 0 40px var(--green);
  }
  100% {
    box-shadow: 0 0 20px var(--green), 0 0 30px var(--green),
      0 0 40px var(--green), 0 0 50px var(--green);
  }
}

/* Media Queries */

@media (max-width: 1530px) {
  #grid-container {
    position: relative;
  }
  .tradingview-widget-container {
    position: relative;
    margin: 0 auto;
  }
  .market-open {
    top: 90px;
    right: 450px;
  }
}
@media (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
  }
  .market-open {
    top: 150px;
    right: 110px;
  }
}
@media (max-width: 600px) {
  .container,
  .main,
  #insert-container {
    width: 95%;
  }

  .input-container {
    flex-direction: column;
  }

  #result-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  .market-open {
    top: 150px;
    right: 20px;
  }
}
