/* Global Styles */

:root {
  --green: #27ae60;
  --white: #2980b9;
  --blue: #2980b9;

  --nav: #2980b9;
  --color-bg1: #2980b9;
  --color-bg2: #2980b9;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: var(--white); */
  margin: 0;
  padding: 0;
  color: #333;

  background: linear-gradient(to bottom left, var(--color-bg2), #add8e6);

  background-size: cover;

  background-attachment: fixed;

  /* Adds a smooth transition effect when resizing the window */
  transition: background-position 0.5s ease-out;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin: 20px 0;
}

hr {
  border: 0;
  height: 2px;
  background: #2c3e50;
  margin: 20px 0;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.tab-1 {
  content: "";
  position: relative;
  top: -38px;
  width: 200px;
  height: 25px;
  background: white;
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
  margin: none;
  padding: none;
  float: center;
}
.tab-1 h6 {
  color: #333;

  position: absolute;
  top: -27px;
  left: 60px;
}

.tab-2 {
  content: "";

  position: relative;
  left: 210px;
  top: -57px;
  width: 200px;
  height: 25px;
  background-color: rgb(198, 196, 196);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");

  float: left;
}
.tab-2 h6 {
  color: #333;

  position: absolute;
  top: -25px;
  left: 60px;
}

.tab-3 {
  content: "";

  position: relative;
  left: 215px;
  top: -57px;
  width: 200px;
  height: 25px;
  background-color: rgb(198, 196, 196);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");

  float: left;
}
.tab-3 h6 {
  color: #333;

  position: absolute;
  top: -25px;
  left: 60px;
}
#tab-overlay {
  background-color: white;
  width: 620px;
  height: 30px;
  position: absolute;
  top: 113px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Flex Container for Input and Select */
.country-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
  border-color: var(--blue);
  outline: none;
}

.legend {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Button Styles */
.btn {
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #1c5986;
}
#chartBtn {
  display: none;
}
/* Flag Container Styles */
.float-flag-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  visibility: hidden;
}

img {
  width: 40px;
}

#result-container {
  display: flex;
  align-items: right;
  gap: 10px;
  margin-top: 20px;
  margin-right: 60px;
}

#result-text {
  color: var(--green);
  font-size: 1.5em;
}

#decimalSpan {
  color: #7dcea0;
}

/* Additional Container Styles */
#insert-container {
  margin-top: 20px;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  visibility: visible;
  display: none;
}

#insert-container input {
  margin-top: 10px;
}

/* grid */

#grid-container {
  margin: 30px;

  visibility: hidden;
  opacity: 0;

  background: #ecf0f1;
  padding: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 14.5%;
  right: 140px;
  border: 17px solid white;
  border-radius: 10px;
}
#grid-container h1 {
  font-size: 15px;
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.grid-header {
  font-weight: bold;

  background-color: #f0f0f0;
  padding: 10px;
}

.grid-item {
  font-size: 12px;
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
}
.tradingview-widget-container {
  position: absolute;
  z-index: 1;
  top: 113px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  width: 600px;
  height: 478px;
  overflow: hidden;
  visibility: hidden;
}

.heatmap-widget-container {
  position: absolute;
  z-index: 1;
  top: 113px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  width: 600px;
  height: 478px;
  overflow: hidden;
  visibility: hidden;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--nav); */
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}

.nav h1 {
  margin: 0 auto 0;
  padding: 10px 20px;
  color: #d4e6f1;
  text-transform: none;
  font-family: Arial, sans-serif;
}

/* #yellow-star {
  color: yellow;
} */

.informal {
  font-size: xx-small;
  color: #bebebe;
}

.bell {
  display: none;
  width: 50px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
  right: -300px;
  top: -20px;
}
.bell-text {
  visibility: hidden;

  width: 120px;
  background-color: rgba(0, 0, 0, 0.232);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: relative;
  z-index: 1;
  bottom: 65px;
  right: 95px;
}

.bell:hover .bell-text {
  visibility: visible;
}

.little-text {
  margin: 0;
  position: relative;
  top: -15px;
  text-align: right;
  font-size: 10px;
  box-sizing: border-box;
  color: white;
  text-transform: none;
}

.market-open {
  display: flex;
  width: fit-content;
  position: relative;
  top: -20px;
  right: -450px;
  text-align: center;
  align-items: center;
}

#saved-alerts-container {
  width: 200px;
  height: fit-content;
  position: absolute;
  top: 16%;
  left: 70px;
  z-index: 1;
  background-color: white;
  border-radius: 12px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
#alerts-container {
  position: absolute;
  top: 10%;
  right: 150px;
  z-index: 5;
  list-style: none;
}
#firstAlert {
  list-style: none;
  text-align: center;
  font-weight: 800;
}
#alerts-container li,
#saved-alerts-container li,
#ai-message-container {
  border: 1px solid #5485a5a5;
  border-radius: 10px;
  background-color: white;
  padding: 5px 20px;
  margin: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#ai-message-container {
  position: absolute;
  top: -100%;
  right: 60px;
  z-index: 1;
  opacity: 0;
  width: 200px;
}
.market-hours-indicator {
  position: relative;
  width: 100px;
  height: 3px;
  background-color: var(--green);
  border-radius: 20px; /* Color of the line */
}

.hours-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green); /* Color of the active market hours segment */
  border-radius: 3px;
}

.current-time-marker {
  position: absolute;
  top: -5px;
  width: 2px;
  height: 10px;
  border-radius: 50px;
  border: solid 1px white;
  background-color: rgb(0, 0, 0);
}

.circle-with-text {
  position: fixed;
  bottom: 40px;
  right: 80px;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 10;
}

.circle {
  /* background-color: var(--blue);  */
  background-image: radial-gradient(
    rgb(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  animation: background 12s linear infinite;

  border-radius: 50%;
  width: 100%;
  height: 100%;

  opacity: 0.7;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 2.3px 2.3px #333;
}

.text:hover {
  font-size: 16px;
}

.footer {
  position: fixed; /* Fixed/sticky position */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  background-color: #f8f9fa; /* Light grey background */
  color: black; /* Text color */
  text-align: center; /* Center the text */
  padding: 5px 0; /* Padding around the text */
  font-size: 10px; /* Smaller text size */
  opacity: 0.5;
}
/* -------------Side Panel---------------- */

.wrapper {
  display: flex;
  height: auto;
}

.side-panel-toggle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;

  color: #ffffff;
  background: var(--blue);
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;

  position: relative;
  left: -460px;

  margin: 0;
  padding: 0;

  top: -45px;
}

.side-panel-toggle:hover {
  background: #007960;
}
.hidden {
  display: none;
}

.side-panel-open .sp-icon-open {
  display: none;
}
.sp-icon-close {
  display: block;
}
/* ---------Discus-------------- */

#disqus_thread {
  position: relative;
  top: -70px;
  right: 0%;
  width: 890px;
  height: fit-content;
  background-color: white;
  transform: scale(0.7);
  border: 12px solid white;
  border-radius: 12px;
  visibility: visible;
}

#forum-btn {
  float: right;
}

#logo {
  position: absolute;
  top: 20px;
  left: 30vw;
}
/* --------------Switch--------------- */

.switch {
  margin: 15px 15px;
  border: 2px solid #bebebe;
  border-radius: 30%;
  height: 40px;
  width: 38px;
}

div.switch input {
  background: url(./img/swap-vertical.svg) no-repeat;
  background-size: 150px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.glowing-circle {
  margin: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.076) solid;
  background-color: var(--green); /* Green color */
  position: relative;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 6px var(--green), 0 0 6px var(--green), 0 0 6px var(--green),
      0 0 40px var(--green);
  }
  100% {
    box-shadow: 0 0 20px var(--green), 0 0 30px var(--green),
      0 0 40px var(--green), 0 0 50px var(--green);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeout {
  animation-name: fadeout;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes background {
  0%,
  100% {
    background-color: rgb(50, 0, 200);
  }
  10%,
  90% {
    background-color: rgb(0, 100, 200);
  }
  20%,
  80% {
    background-color: rgb(0, 200, 100);
  }
  30%,
  70% {
    background-color: rgb(200, 200, 0);
  }
  40%,
  60% {
    background-color: rgb(200, 50, 0);
  }

  50% {
    background-color: rgb(200, 0, 0);
  }
}

/* Media Queries */

@media (max-width: 1530px) {
  li {
    display: block;
  }
  #saved-alerts-container {
    left: 2%;
  }
  #grid-container {
    right: 0;
  }
}

@media (max-width: 1200px) {
  #grid-container {
    position: relative;
    bottom: 300px;
  }
  #saved-alerts-container {
    /* position: relative; */
  }
}
@media (max-width: 900px) {
  #tab-overlay {
    max-width: 87.5%;
    top: 160px;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  .market-open {
    top: -25px;
    right: -365px;
  }
  li {
    display: block;
  }
  #saved-alerts-container {
    height: fit-content;
    width: 150px;
    position: absolute;
    top: 203px;
    left: 80px;
  }
  .rem-button {
    margin-left: 5px;
  }
  #grid-container {
    left: 0;
  }
  #tab-1 {
    transform: scale(0.8);
    left: -20px;
  }
  #tab-2 {
    transform: scale(0.8);
    left: 150px;
  }
  #tab-3 {
    transform: scale(0.8);
    left: 120px;
  }
  #tradingview-widget-container {
    top: 170px;
    width: 600px;
    max-width: 700px;
    min-width: 300px;
    overflow: hidden;
  }
  #heatmap-widget-container {
    top: 170px;
    overflow: hidden;
    max-width: 700px;
  }
}
@media (max-width: 700px) {
  #tradingview-widget-container {
    max-width: 82%;
  }
  #heatmap-widget-container {
    max-width: 82%;
  }
}

@media (max-width: 600px) {
  html {
    width: 120%;
  }
  #tab-overlay {
    max-width: 110%;
    top: 160px;
  }
  .container,
  .main,
  #insert-container {
    width: 95%;
  }

  .input-container {
    flex-direction: column;
  }

  #result-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  .market-open {
    top: -25px;
    left: 250px;
  }
  .bell {
    right: -200px;
  }
  .bell,
  .bell-text {
    margin: 0 auto;
  }
  .bell-text {
    top: -40px;
  }
  li {
    display: block;
  }
  /* #saved-alerts-container {
    top: 1250px;
    left: 40px;
  } */
  #saved-alerts-container {
    top: 160px;
    left: 38px;
  }

  #grid-container {
    left: 0;
  }
  #tab-1 {
    transform: scale(0.8);
    left: -20px;
  }
  #tab-2 {
    transform: scale(0.8);
    left: 150px;
  }
  #tab-3 {
    transform: scale(0.8);
    left: 120px;
  }
  #tradingview-widget-container {
    height: 750px;
    max-width: 110%;
    margin: 0 auto;
  }

  #heatmap-widget-container {
    height: 650px;
    width: 110%;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  html {
    width: 100%;
  }
  body {
    margin: 8px;
  }
  .nav {
    display: none;
  }
  #tab-overlay,
  #insert-container {
    display: none;
  }
  #from-tag {
    margin-top: 100px;
  }
  .input-container {
    display: inline;
  }

  #input-from,
  #countries-from-select,
  #input-amount,
  #input-to,
  #countries-to-select {
    height: 40px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .side-panel-toggle {
    left: -450px;
  }
  .side-panel-open {
    display: none;
  }
  #saved-alerts-container {
    display: none;
  }
  .main {
    margin: 5px auto;
    width: 80vw;
    margin: 0;
    padding: 15px;
    padding-top: 0;

    display: inline;
    background-color: rgba(255, 255, 251, 0.7);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 40px;
  }
  #tab-overlay {
    width: 106%;
    top: 145px;
    left: 87px;
  }
  #tab-1 {
    top: -36px;
    width: 200px;
    left: -50px;
    transform: scale(0.6);
    display: none;
  }
  #tab-2 {
    top: -57px;
    left: 110px;
    width: 200px;
    transform: scale(0.6);
    display: none;
  }

  #tab-3 {
    width: 200px;
    left: 70px;
    transform: scale(0.6);
    display: none;
  }

  .market-open {
    top: -90px;
    left: 240px;
    display: none;
  }

  .container {
    max-width: 500px;
    margin: 0 8%;
    padding: 0;
    width: 85%;
    height: 0px;
  }

  li {
    display: block;
  }
  #saved-alerts-container {
    top: 180px;
    left: 90px;
  }
  .form {
    width: 105%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  #btn {
    width: 100px;
  }
  #grid-container {
    left: -130px;
    bottom: 50px;
  }

  #tradingview-widget-container {
    height: 55%;
    max-width: 400px;
    margin: 0 auto;
  }

  #heatmap-widget-container {
    height: 55%;
    max-width: 400px;
    margin: 0 auto;
  }

  #disqus_thread {
    width: 143%;
    top: 0;
  }
  #result-container {
    position: absolute;
    /* width: 320px; */
    width: 90%;
    /* width: 95%;
font-size: xx-small;
padding: 2px; */

    font-family: "Times New Roman", Times, serif;
    margin: 0 auto;
    text-shadow:  /* Blue shadow */ 0.5px 0.5px 0 #797c7e;
  }
  #result-text {
    text-align: center;

    padding: 5px;
    width: 100%;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow:  /* Blue shadow */ 0.5px 0.5px 0 #797c7e;
  }

  #float-left-flag,
  #float-right-flag {
    border-radius: 10%;
  }
  #switch-currency-button {
    position: absolute;
    right: 50px;
    top: 180px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .country-container {
    margin-bottom: 10px;
  }
  #disqus_thread {
    display: none;
  }
  .grid-container {
    display: none;
  }
  .footer {
    font-size: 10px; /* Smaller text size */
  }
  #ai-message-container {
    top: -40%;
    right: 60px;
    z-index: 1;
    opacity: 0;
    width: 200px;
  }
}

@media (max-width: 400px) {
  #tab-1 {
  }
  #tab-2 {
    left: 90px;
  }

  #tab-3 {
    width: 46%;
    left: 30px;
  }
  #tab-overlay {
    left: 100px;
  }
  .side-panel-open {
  }
  .form {
    width: 100%;
  }
  #tradingview-widget-container {
    height: 60%;
    max-width: 380px;
    margin: 0 auto;
  }

  #heatmap-widget-container {
    height: 60%;
    max-width: 380px;
    margin: 0 auto;
  }
}
